<div class="container p-4">
    <div class="row">
        <div class="card mx-auto Carta">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="/img/Corte.png" alt="LogoCorte">
                    </div>
                    <div class="col-6 Info-Carta">
                        <h1 class="Carta-h1">Corte Y Confección</h1>
                        <p class="Carta-p">Acá podras guardar y editar que ya hiciste, o que quieras hacer</p>
                        <a href="/corte/" class="btn btn-outline-danger d-grid gap-2"><i class="bi bi-door-open text-dark">Comencemos</i></a>
                    </div>
                </div>
            </div>
        </div>
            <div class="card mx-auto Carta">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <img src="/img/Tejido.png" alt="LogoTejido" class="float-rigth">
                    </div>
                    <div class="col-6 Info-Carta">
                        <h1 class="Carta-h1">Tejido</h1>
                        <p class="Carta-p">Acá podras guardar y editar que ya hiciste, o que quieras hacer</p>
                        <a href="tejido/" class="btn btn-outline-danger d-grid gap-2"><i class="bi bi-door-open text-dark">Comencemos</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>